<mat-toolbar color="primary">
  <img class="app-logo" src="assets/images/Logo.png" alt="inds-logo">
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <a mat-button>HOME</a>
    <a mat-button>ABOUT</a>
    <a mat-button>SPEAKERS</a>
    <a mat-button>AGENDA</a>
    <a mat-button>TOPICS</a>
    <a mat-button>SPONSORS</a>
    <a mat-button>VIRTUAL TOUR</a>
    <a mat-button>ENQUIRE</a>
  </div>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>
