<section class="event-data-main">
    <div class="event-data-container">
        <div class="event-data-container-left">
            <p class="span-purple-heading">INDOSEC 2021</p>
            <div>
                <p class="span-white-heading">Indonesia's</p>
                <p class="span-white-heading">Undisputed & Most</p>
                <p class="span-white-heading">Influential</p>
            </div>
            <br>
            <p class="span-head-1">CYBER SECURITY</p>
            <p class="span-head-1">SUMMIT</p>
            <br>
            <p>
                Following the success of the long running
                cybersecurity event dedicated to Indonesia,
                Tradepass is proud to host the
                <span class="purple-color-text">Edition IndoSec Summit 2021</span>
                virtually and we can't wait to welcome you again.
            </p>
            <br>
            <p>
                Bringing together over <span class="purple-color-text">1500+</span> experts and high-level
                executives across Indonesia for informative
                discussions, exclusive networking opportunities and
                the chance to hear from the <span class="purple-color-text">biggest players in cybersecurity</span>,
                Indosec is a must-attend conference for all cybersecurity professionals.
            </p>
        </div>
        <div class="event-data-container-right">
            <div>
                <h5 class="event-stat-head">ECONOMIC IMPACT OF CYBER CRIME</h5>
                <ul>
                    <li><span class="event-stat-num-color">84%</span> increase in overall IT spend</li>
                    <li><span class="event-stat-num-color">59%</span> of population impacted by cyber crime</li>
                    <li><span class="event-stat-num-color">64%</span> of internet penetration in the region</li>
                </ul>
            </div>
            <div>
                <h5 class="event-stat-head">DATA LOSS IS A PROBLEM</h5>
                <ul>
                    <li>
                        <span class="event-stat-num-color">15M</span>
                        users losing personal data from e-commerce platform
                    </li>
                    <li><span class="event-stat-num-color">100K</span> individual's social security data got leaked</li>
                    <li><span class="event-stat-num-color">1.3M</span> ransomwares detected in ASEAN</li>
                </ul>
            </div>
            <div>
                <h5 class="event-stat-head">NEW FINDINGS IN CYBER ATTACKS</h5>
                <ul>
                    <li><span class="event-stat-num-color">56%</span> spike in phishing attacks</li>
                    <li><span class="event-stat-num-color">$423M </span>cyber-attacks witnessed</li>
                    <li><span class="event-stat-num-color">$4.2M</span> fraud was uncovered in 2021</li>
                </ul>
            </div>
        </div>
    </div>
</section>