<section class="stat-main">
    <div>
        <div class="stat-head">
            <span class="stat-head-1">VIRTUAL</span>
            <span class="stat-head-2">PLATFORM</span>
        </div>
        <div class="stat-data">
            <div class="stat-item">
                <span class="stat-count">1500+</span>
                <span class="font-w-400">PRE-QUALIFIED</span>
                <span class="font-w-400">DELEGATES</span>
            </div>
            <div class="stat-item">
                <span class="stat-count">250+</span>
                <span class="font-w-400">TOP</span>
                <span class="font-w-400">ORGANIZATIONS</span>
            </div>
            <div class="stat-item">
                <span class="stat-count">30+</span>
                <span class="font-w-400">ELITE</span>
                <span class="font-w-400">SPEAKERS</span>
            </div>
            <div class="stat-item">
                <span class="stat-count">20+</span>
                <span class="font-w-400">INTRACTIVE</span>
                <span class="font-w-400">TOPIC</span>
            </div>
        </div>
    </div>
</section>