<div class="countdown">
    <section class="timer">
        <div>
            <span id="days">{{daysToDday}}</span>
            <p>DAYS</p>
        </div>
        <div>
            <span id="hours"> {{hoursToDday}} </span>
            <p>HOURS</p>
        </div>
    
        <div>
            <span id="minutes"> {{minutesToDday}} </span>
            <p>MINTUTES</p>
        </div>
        <div>
            <span id="seconds"> {{secondsToDday}} </span>
            <p>SECONDS</p>
        </div>
    </section>
    <div class="action-buttons">
        <button class="filled-button" mat-button color="primary">DELEGATE PASS</button>
        <button class="outline-button" mat-button color="primary">EXHIBITION BOOTH</button>
    </div>
</div>