<section class="speaker-head">
    <p class="p-head-1">OUR SPEAKERS</p>
    <p class="p-head-2">Get inspired by Indonesia's leading thought leaders and IT experts virtually</p>
</section>
<section class="speaker-data-main">
    <swiper [slidesPerView]="3" [spaceBetween]="30" [slidesPerGroup]="3" [loop]="true" [loopFillGroupWithBlank]="true"
        [pagination]="{
      clickable: true
    }" [navigation]="true" class="mySwiper">
        <ng-template swiperSlide>
            <div class="slide-container">
                <div class="slide-content">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="assets/images/speaker-1.png" alt="" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h2 class="name">EDMUND SITUMORANG</h2>
                                <h3>Chief thechnology officer, <strong>Prodigi</strong></h3>
                                <div class="media-icons-container">
                                    <img src="assets/images/facebook.png" alt="facebook-icon">
                                    <img src="assets/images/twitter.png" alt="twitter-icon">
                                    <img src="assets/images/google-plus.png" alt="google-plus-icon">
                                    <img src="assets/images/instagram.png" alt="instagram-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="slide-container">
                <div class="slide-content">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="assets/images/speaker-2.png" alt="" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h2 class="name">EDMUND SITUMORANG</h2>
                                <h3>Chief thechnology officer, <strong>Prodigi</strong></h3>
                                <div class="media-icons-container">
                                    <img src="assets/images/facebook.png" alt="facebook-icon">
                                    <img src="assets/images/twitter.png" alt="twitter-icon">
                                    <img src="assets/images/google-plus.png" alt="google-plus-icon">
                                    <img src="assets/images/instagram.png" alt="instagram-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="slide-container">
                <div class="slide-content">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="assets/images/speaker-3.png" alt="" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h2 class="name">EDMUND SITUMORANG</h2>
                                <h3>Chief thechnology officer, <strong>Prodigi</strong></h3>
                                <div class="media-icons-container">
                                    <img src="assets/images/facebook.png" alt="facebook-icon">
                                    <img src="assets/images/twitter.png" alt="twitter-icon">
                                    <img src="assets/images/google-plus.png" alt="google-plus-icon">
                                    <img src="assets/images/instagram.png" alt="instagram-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="slide-container">
                <div class="slide-content">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="assets/images/speaker-1.png" alt="" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h2 class="name">EDMUND SITUMORANG</h2>
                                <h3>Chief thechnology officer, <strong>Prodigi</strong></h3>
                                <div class="media-icons-container">
                                    <img src="assets/images/facebook.png" alt="facebook-icon">
                                    <img src="assets/images/twitter.png" alt="twitter-icon">
                                    <img src="assets/images/google-plus.png" alt="google-plus-icon">
                                    <img src="assets/images/instagram.png" alt="instagram-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="slide-container">
                <div class="slide-content">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="assets/images/speaker-2.png" alt="" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h2 class="name">EDMUND SITUMORANG</h2>
                                <h3>Chief thechnology officer, <strong>Prodigi</strong></h3>
                                <div class="media-icons-container">
                                    <img src="assets/images/facebook.png" alt="facebook-icon">
                                    <img src="assets/images/twitter.png" alt="twitter-icon">
                                    <img src="assets/images/google-plus.png" alt="google-plus-icon">
                                    <img src="assets/images/instagram.png" alt="instagram-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="slide-container">
                <div class="slide-content">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="assets/images/speaker-3.png" alt="" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h2 class="name">EDMUND SITUMORANG</h2>
                                <h3>Chief thechnology officer, <strong>Prodigi</strong></h3>
                                <div class="media-icons-container">
                                    <img src="assets/images/facebook.png" alt="facebook-icon">
                                    <img src="assets/images/twitter.png" alt="twitter-icon">
                                    <img src="assets/images/google-plus.png" alt="google-plus-icon">
                                    <img src="assets/images/instagram.png" alt="instagram-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="slide-container">
                <div class="slide-content">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="assets/images/speaker-1.png" alt="" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h2 class="name">EDMUND SITUMORANG</h2>
                                <h3>Chief thechnology officer, <strong>Prodigi</strong></h3>
                                <div class="media-icons-container">
                                    <img src="assets/images/facebook.png" alt="facebook-icon">
                                    <img src="assets/images/twitter.png" alt="twitter-icon">
                                    <img src="assets/images/google-plus.png" alt="google-plus-icon">
                                    <img src="assets/images/instagram.png" alt="instagram-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="slide-container">
                <div class="slide-content">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="assets/images/speaker-3.png" alt="" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h2 class="name">EDMUND SITUMORANG</h2>
                                <h3>Chief thechnology officer, <strong>Prodigi</strong></h3>
                                <div class="media-icons-container">
                                    <img src="assets/images/facebook.png" alt="facebook-icon">
                                    <img src="assets/images/twitter.png" alt="twitter-icon">
                                    <img src="assets/images/google-plus.png" alt="google-plus-icon">
                                    <img src="assets/images/instagram.png" alt="instagram-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="slide-container">
                <div class="slide-content">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img src="assets/images/speaker-3.png" alt="" class="card-img">
                                </div>
                            </div>
                            <div class="card-content">
                                <h2 class="name">EDMUND SITUMORANG</h2>
                                <h3>Chief thechnology officer, <strong>Prodigi</strong></h3>
                                <div class="media-icons-container">
                                    <img src="assets/images/facebook.png" alt="facebook-icon">
                                    <img src="assets/images/twitter.png" alt="twitter-icon">
                                    <img src="assets/images/google-plus.png" alt="google-plus-icon">
                                    <img src="assets/images/instagram.png" alt="instagram-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </swiper>
</section>